#strong {
  font-weight: bold;
  font-size: 30px;
}

#border {
  border: 5px solid black;
  margin-bottom: 60px;
}

body,
html {
  height: 112%;
    /* The image used */
    background-image: url("https://img.freepik.com/free-vector/abstract-organic-lines-background_1017-26669.jpg?size=626&ext=jpg");

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #line-style {
  margin-bottom: 50px;
} */

.text {
  font-weight: bold;
  text-align: left;
}
/* .textcolor {
  text-shadow: 2px 2px rgb(155, 123, 123);
} */
form {
  background-color: white;
}

main {
background-color: white;
  
}
.portfolio {
  text-align: center;
  
}
.container {
  box-shadow: 10px 10px black;
}

.margin {
  margin-bottom: 20px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  text-align: center;
}

/* .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
} */

.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
